@-webkit-keyframes input-loading {
  from {
    background-position: 100px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes input-loading {
  from {
    background-position: 100px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes input-loading {
  from {
    background-position: 100px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes input-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 0;
  }
}
@keyframes input-loading {
  from {
    background-position: 100px 0;
  }
  to {
    background-position: 0 0;
  }
}
.loading {
  background-image: -webkit-linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 12.5%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 37.5%, rgba(255, 255, 255, 0.15) 37.5%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 62.5%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5) 87.5%, rgba(255, 255, 255, 0.15) 87.5%, rgba(255, 255, 255, 0.15) 100%);
  background-image: -moz-linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 12.5%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 37.5%, rgba(255, 255, 255, 0.15) 37.5%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 62.5%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5) 87.5%, rgba(255, 255, 255, 0.15) 87.5%, rgba(255, 255, 255, 0.15) 100%);
  background-image: -o-linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 12.5%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 37.5%, rgba(255, 255, 255, 0.15) 37.5%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 62.5%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5) 87.5%, rgba(255, 255, 255, 0.15) 87.5%, rgba(255, 255, 255, 0.15) 100%);
  background-image: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 12.5%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 37.5%, rgba(255, 255, 255, 0.15) 37.5%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 62.5%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5) 87.5%, rgba(255, 255, 255, 0.15) 87.5%, rgba(255, 255, 255, 0.15) 100%);
  -webkit-background-size: 100px 100px;
  -moz-background-size: 100px 100px;
  -o-background-size: 100px 100px;
  background-size: 100px 100px;
  -webkit-animation: input-loading 2s linear infinite;
  -moz-animation: input-loading 2s linear infinite;
  -ms-animation: input-loading 2s linear infinite;
  -o-animation: input-loading 2s linear infinite;
  animation: input-loading 2s linear infinite;
}
input.loading {
  background-color: #eeeeee;
}

.dd-sorter{
    position: absolute;
    margin: 0;
    left: 30px;
    top: 0;
    cursor: pointer;
    width: 30px;
    height:30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #AAA;
    background: #DDD;
    background: -webkit-linear-gradient(top, #DDD 0%, #BBB 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    line-height: 30px;
}

.image-has img{
    width:60px;
    height:80px;
}
